<div id="content">
  <% if @current_user %>
  <div id="content_left">
    <div id="courses">
      <span class="section_header">Subscribed Courses</span>
        <% if @current_user.schools.empty? %>
          <%= link_to 'Time to enroll in a school!', schools_path %>
        <% else %>
          <% @school_courses.each_pair do |school, courses| %>
            <% unless @single_school %>
              <span style="font-size:13pt; font-weight: bold"><%=h school.name %></span><br />
            <% end %>
            <% if courses.empty? %>
              <p><%= link_to 'Add a class', new_course_path(school) %> from <%= link_to school.name, school %></p>
            <% else %>
              <% courses.each do |course| %>
                <% link_to course_path(course.params), :class => 'name' do %>
                  <div>
                    <span class="course"><%=h course.dept %> <%=h course.number %></span>
                    <span class="course_info"><%=h course.name %></span>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <!--%= link_to 'Remove', course_unsubscribe_path(course, :school_id => course.school_id, :term => course.term, :year => course.year) %-->
        <% end %>
        <!--%= link_to 'View All Courses', user_courses_path(@current_user) %-->
      <% end %>
    </div>
    <br />
    <div id="otherstuff">
      <span class="section_header">Latest Posts</span>
      <% @posts.each do |post| %>
        <div class="item_subheader">
          <strong><%=link_to post.user.name, post.user %></strong> <%=h time_ago_in_words(post.created_at) %> ago
          wrote under <%= link_to post.title, course_item_post_path(post.params) %>
          <div class="item_p">
            &ldquo;<%= post.sanitize %>&rdquo;
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <div id="welcome">
      <p id="welcome_title">What are we about?</p>
      <p>
        <strong>re.factored</strong> is a project by students for students. We know
        first-hand about <abbr title="Course Management System">CMS</abbr>s that are
        hard to navigate and highly restricted. Our goal is to give you, the student, a
        user-driven collaborative environment. Because re.factored is meant to be an
        invaluable utility used everyday, we made sure that this site is highly accessible
        and can quickly bring users to what they need. That doesn't mean we need to
        sacrifice looks, though &ndash; we still believe in a modern, clean, and usable design
        that makes school life just a bit easier. &#9632;
      </p>
    </div>
  <% end %>
</div>

<% if @current_user %>
<div id="calendar">
  <a id="calendar_title" href="calendar">Upcoming Events</a>
  <ul>
    <% @items.each do |item| %>
    <li class="calendar_entry">
      <%=h item.cal_date %>
      <%= link_to item.name, course_item_path(item.params) %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
