<% content_for :title, 'My Profile | Edit' %>

<%= render '/layouts/nav', :no_semester => true, :navigation =>
  @profile ? [['My Profile', @user]] : [['Users', users_path]] %>

<div id="content" class="form">
  <h1>Editing my profile</h1>

  <% form_for(@user) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :fb_id, "Facebook ID" %>
      <%= f.text_field :fb_id %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>