<% content_for :title, 'New User' %>

<div id="content" class="form">
  <h1>Joining re.factored?</h1>
  <% form_for(@user) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :fb_id, "Facebook ID" %>
      <%= f.text_field :fb_id %>
    </p>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>
<%= link_to 'Back', users_path %>
</div>