<h1>Editing department</h1>

<% form_for([@school, @department]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :abbr %><br />
    <%= f.text_field :abbr %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@school, @department] %> |
<%= link_to 'Back', school_departments_path %>