<% content_for :title, "#{@course.abbr} | Items | New" %>

<%= render '/layouts/nav', :navigation =>
  [["Courses", courses_path],
  [@course.abbr, course_path(@course.params)],
  ["Items", course_items_path(@course.nest_params)]] %>


<div id="content" class="form">
    <h1>New item</h1>
    <% form_for(@item, :url => course_items_path(@course.nest_params)) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :category %>
        <%= select :item, :category, @categories %>
      </p>
      <p>
        <%= f.label :due_date %>
        <%= f.datetime_select :due_date, :default => Time.now.end_of_day %>
      </p>
      <p>
        <%= f.label :points %>
        <%= f.text_field :points %>
      </p>
      <p>
        <%= f.label :weight %>
        <%= f.text_field :weight %>
      </p>
      <p>
        <%= f.label :description, {}, :style => 'vertical-align: top' %>
        <%= f.text_area :description %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>
    <%= link_to 'Back', course_items_path(@course.params) %>
</div>
