<% content_for :title, "Courses" %>
<%= stylesheet_link_tag 'courses_index' %>

<script type="text/javascript" src="/javascripts/jquery-1.4.4.js"></script>
<script type="text/javascript" src="/javascripts/highcharts.js"></script>

<%= render '/layouts/nav', :navigation =>
  [["Courses", courses_path]] %>

<div id="content">
  <h1 id="list_courses" style="display:inline">Listing courses</h1>
  <form action="<%= school_courses_path %>" method="GET" style="display: inline; margin-left: 4px; position: relative; bottom: 3px">
    <select id="select_semester" name="semester" onchange="this.form.submit()">
      <% for sem in @semesters %>
        <% if sem == @semester %>
          <option value="<%= sem %>" selected><%= sem %></option>
        <% else %>
          <option value="<%= sem %>"><%= sem %></option>
        <% end %>

      <% end %>
    </select>
  </form>
  <% if @courses.empty? %>
    <p>No courses found for the selected term</p>
  <% else %>
  <table id="courses_list">
    <tr>
      <th>Department</th>
      <th>Number</th>
      <th>Days</th>
      <th>Description</th>
      <th>Name</th>
    </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%=h course.department_name %></td>
      <td><%=h course.number %></td>
      <td><%=h course.days %></td>
      <td><%=h course.description %></td>
      <td><%=h course.name %></td>
      <td><%= link_to 'View', course_path(course.params) %></td>
      <td><%= link_to 'Subscribe', course_subscribe_path(@school, course.params) %></td>
    </tr>
  <% end %>
  </table>
  <% end %>
<p><%= link_to 'New course', new_course_path %></p>
</div>
