<% content_for :title, @course.abbr %>

<%= render '/layouts/nav', :navigation =>
  [[@course.school.name, @course.school],
   ["#{@course.dept} #{@course.number}", course_path]] %>
<div id="add_item">
  <%= link_to 'New Item', new_course_item_path(@course.nest_params) %>
</div>
<div id="content">
  <div id="content_left">
    <div>
      <span class="course_action">
        <%= link_to "Assignments, Projects", course_items_path(@course.nest_params.merge :category => "assignment project") %>
      </span>
      <span class="course_action_comment">Time to work!</span>
    </div>
    <div>
      <span class="course_action">
        <%= link_to "Exams, Quizzes", course_items_path(@course.nest_params.merge :category => "exam quiz") %>
      </span>
      <span class="course_action_comment">Study buddy?</span>
    </div>
    <div>
      <span class="course_action">
        <%= link_to "All Course Items", course_items_path(@course.nest_params) %>
      </span>
      <span class="course_action_comment">All that other stuff.</span>
    </div>
    <div>
      <span class="course_action">
        <%= link_to "Grades", course_grades_path(@course.nest_params) %>
      </span>
      <span class="course_action_comment">Cross your fingers!</span>
    </div>
    <div>
      <span class="course_action">
        <%= link_to "Ratings", course_ratings_path(@course.nest_params) %>
      </span>
      <span class="course_action_comment">What did you think?</span>
    </div>
    <div>
      <span class="course_action">
        <%= link_to "Course Information", course_info_path(@course.params) %>
      </span>
      <span class="course_action_comment">What's this all about?</span>
    </div>
    <div>
      <span class="course_action">
        <%= link_to "Edit Course", edit_course_path(@course.params) %>
      </span>
      <span class="course_action_comment">Make it better.</span>
    </div>
  </div>
</div>

<div id="calendar">
  <a id="calendar_title" href="calendar">Course Calendar</a>
  <% if @items %>
    <ul>
      <% @items.each do |item| %>
      <li class="calendar_entry">
        <%=h item.cal_date %>
        <%= link_to item.name, course_item_path(item.params) %>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>