<% content_for :title, "#{@course.abbr} | #{@item.name} |  Edit Forum Post" %>

<%= render '/layouts/nav', :navigation => 
  [["Courses", courses_path],
   [@course.abbr, course_path(@course.params)],
   [@item.category_s, course_items_path(@course.nest_params.merge :category => @item.category.downcase)],
   [@item.name, course_item_path(@item.params)],
   ["Discussion", course_item_posts_path(@item.nest_params)]] %>

<div id="content" class="post_page form">
<% form_for(@post, :url => course_item_post_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, 'Title' %>
    <%=h @post.title %>
  </p>
  <p>
    <%= f.label :body, 'Body', :style => 'vertical-align: top' %>
    <span id="post_page_body">
      <%= @post.sanitize.gsub("\n", "<br />") %>
    </span>
  </p>
  <p>
    <%= label_tag 'append', 'Additional Edit', :style => 'vertical-align: top' %>
    <%= text_area_tag 'append', nil, :rows => 10, :cols => 50 %>    
  </p>
  <p>
    <%= label_tag 'tags', 'Tags' %>
    <%= text_field_tag 'tags', @tags %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', course_item_post_path %> |
<%= link_to 'Back', course_item_posts_path(@item.nest_params) %>

</div>