<% content_for :title, "#{@course.abbr} | #{@item.name} | Forum | New Post" %>

<%= render '/layouts/nav', :navigation =>
  [["Courses", user_courses_path(@current_user)],
  [@course.abbr, course_path(@course.params)],
  [@item.category_s, course_items_path(:category => @item.category.downcase)],
  [@item.name, @item.params],
  ["Discussion", course_item_posts_path]] %>
<div id="content" class="form">
  <h1>New post under forum for: <%=h @item.name %></h1>
  <% form_for([@course, @item, @post], :url => course_item_posts_path) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body, {}, :style => 'vertical-align: top' %>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= label_tag 'tags', 'Tags' %>
      <%= text_field_tag 'tags' %>&nbsp;&nbsp; e.g. tip, criticism, praise, question, problem 1
    </p>
    <!--p>
      <% f.label :commented_at %><br />
      <% f.datetime_select :commented_at %>
    </p-->
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>

<%= link_to 'Back', course_item_posts_path %>
</div>