<% content_for :title, "#{@course.abbr} | #{@item.name} | Forum" %>

<%= render '/layouts/nav', :navigation =>
  [["Courses", user_courses_path(@current_user)],
   [@course.abbr, course_path(@course.params)],
   [@item.category_s, course_items_path(@course.nest_params.merge :category => @item.category.downcase)],
   [@item.name, course_item_path(@item.params)],
   ["Discussion", course_item_posts_path(@item.nest_params)]] %>

<div id="content" class="post_page">
  <% if @post.parent %>
    <div id="post_parent" style="margin-bottom: 10px; padding-bottom: 8px; border-bottom: 1px solid #ddd">
      Replying to <%= link_to @post.parent.title, [@course, @item, @post.parent] %>
      <div id="post_page_body">
        <%= @post.parent.sanitize %>
      </div>
    </div>
  <% end %>
  <%= link_to @post.user.name, @post.user %> wrote on <%= @post.created_at_day_s %> at <span class="post_page_time"><%= @post.created_at_time_s %></span>
  <p>
    <div class="post_header">
     <span id="post_page_title">
      <%=h @post.title %>
    </span>
    <% if @current_user == @post.user %>
        <%= link_to "Edit", edit_course_item_post_path(@post.params) %>
      <% else %>
        <%= link_to "Reply", course_item_post_reply_path(@post.nest_params) %>
        <!--%= link_to "Private Message", "blah" %-->
      <% end %>
      <% if @post.parent %>
        | <%= link_to "Context", course_item_post_path(@course, @item, @post.parent) %>
      <% end %>
    </div>
    
  </p>
  <div id="post_page_content">
      <div id="post_page_body">
      <%= @post.sanitize %>
    </div>
    <div class="post_footer">
      Tags: <%=h @post.tags_s %>
    </div>
  </div><br />
  
 
 <%= render 'page_replies', :post => @post %>

  <!--%= link_to 'Edit', edit_course_item_post_path(@course, @item, @post) %-->
</div>